<!--
a view permite que possamos misturar html com javascript para compô-la;
por trás desta view, há um roteador que intercepta suas requisições
-->

<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </body>
</html>
